<div id="<%= dom_id paddle_club %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= paddle_club.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Tier:</strong>
    <%= paddle_club.tier_id %>
  </div>
</div>
